/* --- AboutPage.css --- */
.about-page {
    background-color: #000;
    /* Default background for the entire page */
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}